@import url("./fonts.css");
@import url("./styles/vars.css");
@import url("./styles/home-screen.css");
@import url("./styles/main-heroes.css");
@import url("./styles/schedule.css");

html {
  font-size: 32px;

  @media screen and (max-width: 1900px) {
    font-size: 22px;
  }

  @media screen and (max-width: 1025px) {
    font-size: 18px;
  }

  @media screen and (max-width: 769px) {
    font-size: 16px;
  }

  @media screen and (max-width: 540px) {
    font-size: 14px;
  }

  @media screen and (max-width: 400px) {
    font-size: 12px;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "El Messiri", serif;
}

div {
  z-index: 2;
}

p {
  margin: 0;
  padding: 0;
  z-index: 2;
}

.main {
  position: relative;
  overflow-x: hidden;
}
