:root {
  --main-color: #9c881c;

  --orange-color: rgb(244, 198, 143);
  --green-color: rgb(87, 145, 146);
  --red-color: rgb(214, 123, 114);
  --blue-color: rgb(126, 165, 208);
  --dark-green-color: rgb(61, 101, 78);
}
